* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

p {
	font-size: 5vw !important;
}

h1 {
	font-family: arial;
	font-size: 15vw !important;
	font-weight: bold !important;
	text-transform: uppercase;

	text-align: center !important;
	margin: 100vh auto !important;

	background: url(../img/bg-art.jpg);
	background-size: cover !important;
	background-attachment: fixed !important;

	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}