* {
	margin: 0;
	padding: 0;
}

.bk {
	background: 
	/*linear-gradient(rgba(46, 185, 201, 0.8), rgba(46, 185, 201, 0.8)), */
	url("../img/bg-sample.jpg");
	position: center center;
	background-size: cover;
/*	top: 0;
	bottom: 0;
	left: 0;
	right: 0;*/

	/* MOST IMPORTANT */
	opacity: 0.6;   
	filter: blur(2px);
	transform: scale(1.1);
	z-index: 0;
	
	
	width: 95.2%;
	height: 95vh;
	/*overflow: hidden;*/
}

p {
	text-align: justify;
}

.child {
	z-index: 1;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);

}